
.jumbotron {
  margin: 0px auto;
  background: #7986CB;
  color: floralwhite;
}

.navbar {
  background-color: #303f9f;
  color: #eeeeee;
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.partners-container h1 {
    color:#33C1FF;
    text-align: center;
}
.logos-row{
    padding-top:20px;
    padding-bottom:20px;
}

img{
    align-self: center;

}
.img-reponsive{
    padding:20px;
}

.intro {
    padding:20px;
}

.part-logo {
    width:150;
    height:125;
}
/*
@media(max-width:500px) {
    .part-logo{
        width:70%;
        height:70%;
    }
}*/